@{
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirmation";
}
<div class="confirmation">
    <h1 class="title">Confirmation</h1>
    <p>
        The link has been sent, please check your email to confirm your email adress.
    </p>
</div>