@{
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirmation";
}


<div class="confirmation">
    <h1 class="title">Reset Password Confirmation</h1>
    <p>
        Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
    </p>
</div>