::-webkit-scrollbar{
    width: .5em;
    left:-100px;
}

::-webkit-scrollbar-track{
    width: 5em;
}


::-webkit-scrollbar-thumb{
border-radius: 8px;
background-color: #495366;
}

*{
    box-sizing: border-box;
}

  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #141E30, #243B55);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-weight: 300;
  }

.confirmation {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
}

.control-label{
 margin-left: 20px;
}

.form-control{
    margin-top: 10px;
}

.form-group {
    font-size: 12px;
    text-align: left;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
}

  .content{
      display: flex;  
      width: 70%;
      min-height: 100vh;
      height: 100%;
      padding: 2% 3% 0% 3%;
      margin: 0;
  }

.sidebar-group {
    width: 30%;
    min-width: 250px;
}

  .sidebar-group-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

.avatar {
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

  .avatar-state
  {
    margin-right: 35px;
  }

    .avatar-state::before {
        position: relative;
        content: "";
        position: absolute;
        display: block;
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        top: -2px;
        right: -10px;
        background: #0abb87;
    }

  .main-avatar-circle{
    width: 80px;
    height: 80px;
  }



.avatar-circle {
    width: 40px;
    height: 40px;
}

  .user-title{
      padding-top: 5px;
  }


.user-title h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

.status-active{
    font-size: 16px; 
    font-style: normal;
}

.form-control{
    padding: 15px 15px;
}



input[type="text"],
input[type="password"] {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 30px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    outline: none;
    background-color: rgba(35, 47, 68, 1);
}

    input[type="text"]::-webkit-input-placeholder,
    input[type="password"]::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.4);
        font-weight: 100;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }

input[type="text"]:focus {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: rgba(35, 47, 68, 1);
  font-size: 14px;
  outline: none;
}



/* input[type="text"]{
    border-radius: 30px;
    border: 1px solid #6F7683;
    padding: 10px 15px;
    width: 100%;
    outline: none;
    background-color: rgba(35, 47, 68, 1);
    color: #fff;
   
   
}

input[type="text"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Roboto', sans-serif;
  
}


input[type="text"]:focus {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    

} */

.actions-list{
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 4px;
}

.sidebar-body {
    box-sizing: border-box;
    max-height: 65vh;
    min-height: 65vh;
    overflow-y: scroll;
}

.list-group{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.group-item-active{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: rgba(35, 47, 68, .6);
}


.group-item{
    display: flex;
    justify-content: space-between;
    height: 90px;
    cursor: pointer;
}

.group-item:hover {
    background-color: rgba(35, 47, 68, .6);
}

.group-item figure{
    margin: 0;
    width: 30%;
    padding: 15px 0px 5px 5px;
}

.group-item p{
 margin:0;
 font-size: 14px;
 white-space: nowrap;
 overflow: hidden
}

.user-name {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-bottom: .2em;
    white-space: nowrap;
    width: 100%;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-time{
    font-size: 10px;
}

.user-list-body{
    padding-top: 1em;
    width: 50%;
}

    .user-list-body p {
        margin-bottom: 0.1em;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
    }



.group-item.group-item-active > .user-list-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #6F7683;
}

.user-list-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%; 
 }

 .user-list-actions .new-message-count{
     display: flex;     
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     background-color: #6F7683;
     height: 30px;
     width: 30px;
 }

 /* SIDE BAR FOOTER */

 .sidebar-footer {
     bottom: 0;
     margin-top: 1em;
 }

 /* CHAT */

/* header */

.chat {
    position: relative;
    width: 70%;
    min-width: 350px;
    margin-left: 5%;
}

.chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3em;
    align-items: center;
}


.chat-body{
    overflow-y: scroll;
    min-height: 70vh;
    max-height: 70vh;
  
}

.reciever-name {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-right: 10px;
}

.search-message {
    top: 0;
    left: 0;
}

.search-ico {
    width: 1.5em;
    height: 1.5em;
}

.reciever-title {
    top: 0;
    text-align: center;

}


.reciver-status-active{
    font-size: 16px;
    
}


.reciever-actions {
    display: flex;
    flex-direction: row;

}


.btn-show-more {
    display: flex;
    cursor: pointer;
}

.reciever-avatar-circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.reciever-avatar {
    margin: 0;
    margin-left: 1.5em;
}


input[type="textarea"] {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 15px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    background-color: rgba(111, 118,131,.5);
}


.input[type="textarea"]::-webkit-input-placeholder {
    color: #fff;
}


.input[type="textarea"]::-webkit-input-focus {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: rgba(35, 47, 68, 1);
  font-size: 14px;
  outline: none;
}


/* Messages */
.messages{
    display: flex;
    flex-direction: column;
}

.message{
    max-width: 400px;
}

.message-item{
    display: flex;
    margin-top: 1em;
}

.message-item.outgoing-message{
    display: flex;
    margin-left: auto;
}

.message-item.outgoing-message > .message > .dialog-user-title{
    justify-content: flex-end;
}

.dialog-user-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.sender-name {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-left: 10px;
}





.message-item.outgoing-message > .message > .message-content{
    border-radius: 8px 0px 8px 8px;
}

.message-content {
    word-wrap: break-word;
    font-size: 14px;
    background-color: #0a80ff;
    padding: 5px 5px 5px 5px;
    border-radius: 0px 8px 8px 8px;
    text-align:center; 
}


.time{
font-size: 0.7em;
}

/* Chat Footer */
.chat-footer{
    position: absolute;
    display: block;
    margin-top: 1em;
    padding: 1em;
    width: 100%;    
}

.send-message{
    display: flex;
    flex-direction: row;
}

.message-input{
    margin-right: 20px;
    padding:0;
}


  .btn-primary{
    color:#fff;
    border: 1px solid transparent;
    border-radius: .25rem;  
    min-width: 8%;
    font-family: inherit;
    transition: all .2s ease-in;
    outline: none;
    background-color: #473bea;
    border-color: #3c2fe9;
    margin-top: 10px;
  }

  .btn-primary:hover {
    cursor: pointer;
    background: none;
    background-color: #2c21c8;
    border-color: #2c21c8;
    
  }

.validation-summary-errors {
    color: #b94a48;
    font-size: 12px;
    margin-top: 20px;
}

    .validation-summary-errors li {
        list-style-type: none;
        margin-top: 5px;
        text-align: center;
    }

    .validation-summary-errors ul {
        padding: 0;
    }

.field-validation-error {
    display: inline-block;
    font-size: 10px;
    color: #b94a48;
    margin-top: 10px;
    margin-bottom: 10px;
}

