@{
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
    ViewData["Title"] = "Password successfully changed";
}

<div class="confirmation">
    <h1 class="title">Password successfully changed</h1>
    <a href="/im">Main Page</a>
</div>