@model SignalRv2.Models.ViewModels.ChangePasswordViewModel;
@{
    ViewData["Title"] = "Change Password";
}

<h1>Change your password</h1>


<form asp-antiforgery="true" asp-action="ChangePassword" asp-controller="Home">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="CurrentPassword"></label><br />
            <input asp-for="CurrentPassword" />
            <span asp-validation-for="CurrentPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label><br />
            <input asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>

    @section scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</form>