@model SignalRv2.Models.ViewModels.ChangePasswordViewModel;
@{
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change Password";
}

<div class="change-password-form">
    <h1 class="title">Change your password</h1>

    <form asp-antiforgery="true" asp-action="ChangePassword" asp-controller="Home">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword"></label><br />
                <input autocomplete="off" type="password"  autocomplete="off" asp-for="CurrentPassword" />
                <span asp-validation-for="CurrentPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label><br />
                <input autocomplete="off" type="password" autocomplete="off" asp-for="NewPassword" />
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label><br />
                <input autocomplete="off" type="password" autocomplete="off" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

    </form>
</div>