@using SignalRv2.Abstract
@using System.Globalization;
@*@model List<SignalRv2.Models.ViewModels.DialogViewModel>*@

@{
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}

@*<script>
    async function GetDialogs() {
        const response = await fetch('https://localhost:44399/GetDialogs');
    }
    GetDialogs();
</script>*@


<!-- content -->
<div class="content">
    <!-- sidebar -->
    <div class="sidebar-group">
        <div class="sidebar-group-header">
            <figure class="avatar avatar-state-online">
                <img src="/img/avatars/man_avatar1.jpg" alt="avatar" class="avatar main-avatar-circle">
            </figure>
            <div class="user-title">
                <h3>@User.Identity.FullName()</h3>
                <small class="status-active">
                    Online
                </small>
            </div>
            <div class="actions">
                <ul class="actions-list">
                    <li class="actions-list-item">
                        <a href="#" class="btn btn-change-name">
                            <img src="/img/svg/controls/bx-pencil.svg" alt="Change Username">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <form action="#" class="form-control">
            <input type="text" class="search-input" placeholder="Search chats" autocomplete="off">
        </form>
        <div class="sidebar-body">
            <ul class="list-group">
                @* Here is User-List-Group *@             
            </ul>
        </div>


        <div class="sidebar-footer">
            <a href="/Auth/Logout" class="btn btn-logout">
                <img src="/img/svg/controls/bx-logout.svg" alt="Log Out">
            </a>
        </div>
    </div>
    <!-- ./ sidebar-group -->
    <!-- chat -->
    <div class="chat">
        <div class="chat-header">
            <a href="#" class="search-message">
                <img src="/img/svg/controls/bx-search.svg" alt="Search Message" class="search-ico">
            </a>
            <div class="reciever-title">
                <h5 class="reciever-name">Marcus Person</h5>
                <small class="reciver-status-active">
                    Online
                </small>
            </div>
            <div class="reciever-actions">
                <div class="btn btn-show-more">
                    <img src="/img/svg/controls/bx-more.svg" alt="Show More">
                </div>
                <figure class="reciever-avatar">
                    <img src="/img/avatars/man_avatar4.jpg" alt="Reciever Avatar" class="reciever-avatar-circle">
                </figure>
            </div>
        </div>
        <div class="chat-body">
            <div class="messages">

                @*<div class="message-item outgoing-message">
                        <div class="message">
                            <div class="dialog-user-title">
                                <div class="time">01:20 PM <i class="double-checke-message"></i></div>
                                <h5 class="sender-name">You</h5>
                            </div>
                            <div class="message-content">
                                Hello!
                            </div>
                        </div>
                        <figure class="avatar">
                            <img src="/img/avatars/man_avatar1.jpg" class="avatar avatar-circle" alt="dialog-avatar">
                        </figure>
                    </div>

                    <div class="message-item outgoing-message">
                        <div class="message">
                            <div class="dialog-user-title">
                                <div class="time">01:20 PM <i class="double-checke-message"></i></div>
                                <h5 class="sender-name">You</h5>
                            </div>
                            <div class="message-content">
                                Hello, how are you?
                            </div>
                        </div>
                        <figure class="avatar">
                            <img src="/img/avatars/man_avatar1.jpg" class="avatar avatar-circle" alt="dialog-avatar">
                        </figure>
                    </div>

                    <div class="message-item">
                        <figure class="avatar">
                            <img src="/img/avatars/man_avatar4.jpg" class="avatar avatar-circle" alt="dialog-avatar">
                        </figure>
                        <div class="message">
                            <div class="dialog-user-title">
                                <h5 class="reciever-name">Rabbit</h5>
                                <div class="time">01:20 PM <i class="double-checke-message"></i></div>
                            </div>
                            <div class="message-content">
                                I'm fine, thx. What about you?
                            </div>
                        </div>
                    </div>*@

            </div>

            <!-- ./ chat -->
        </div>
        <div class="chat-footer">
            <div class="send-message">
                @*<div class="message-textarea">
                      <textarea name="message" id="message" class="message-input" placeholder="Just type something..."></textarea>
                    </div>
                    <input type="submit" id="sendBtn" class="btn-primary" value=""/>*@
                <input type="textarea" id="messageInput" class="message-input" placeholder="Just type something...">
                <button type="submit" class="btn-primary" id="sendBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" class="feather feather-send">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                </button>
            </div>
        </div>
        <!-- ./ content -->

