@using SignalRv2.Abstract
@using System.Globalization;

@{
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}

<!-- content -->
<div class="content">
    <!-- sidebar -->
    <div class="sidebar-group">
        <div class="sidebar-group-header">
            <figure class="avatar avatar-state">
                <img src="/img/avatars/default-avatar.png" alt="avatar" class="avatar main-avatar-circle">
            </figure>
            <div class="user-title">
                <div class="user-status"></div>
                <h3>@User.Identity.FullName()</h3>
                <small class="status-active">
                    Online
                </small>
            </div>
            <div class="actions">
                <ul class="actions-list">
                    <li class="actions-list-item">
                        <a href="/ChangePassword" class="btn btn-change-name">
                            <img src="/img/svg/controls/bx-gear.svg" alt="Change Username">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <form action="#" class="form-control">
            <input type="text" class="search-input" placeholder="Search chats" autocomplete="off">
        </form>
        <div class="sidebar-body">
            <ul class="list-group">
                @* Here is User-List-Group *@             
            </ul>
        </div>


        <div class="sidebar-footer">
            <a href="/Auth/Logout" class="btn btn-logout">
                <img src="/img/svg/controls/bx-logout.svg" alt="Log Out">
            </a>
        </div>
    </div>
    <!-- ./ sidebar-group -->
    <!-- chat -->
    <div class="chat">
        <div class="chat-header">
            <a href="#" class="search-message">
                <img src="/img/svg/controls/bx-search.svg" alt="Search Message" class="search-ico">
            </a>
            <div class="reciever-title">
                <h5 class="reciever-name">Marcus Person</h5>
                <small class="reciver-status-active">
                    Online
                </small>
            </div>
            <div class="reciever-actions">
                <div class="btn btn-show-more">
                    <img src="/img/svg/controls/bx-more.svg" alt="Show More">
                </div>
                <figure class="reciever-avatar">
                    <img src="/img/avatars/default-avatar.png" alt="Reciever Avatar" class="reciever-avatar-circle">
                </figure>
            </div>
        </div>
        <div class="chat-body">
            <div class="messages">
                @*Here Will be Messages*@
            </div>
            <!-- ./ chat -->
        </div>
        <div class="chat-footer">
            <div class="send-message">
                <input type="textarea" id="messageInput" class="message-input" placeholder="Just type something...">
                <button type="submit" class="btn-primary" id="sendBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" class="feather feather-send">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                </button>
            </div>
        </div>
        <!-- ./ content -->
        <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
        <script type="module" src="~/js/signalr.js"></script>
