@{
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}


    <!-- content -->
    <div class="content">
        <!-- sidebar -->
        <div class="sidebar-group">
            <div class="sidebar-group-header">
                <figure class="avatar avatar-state-online">
                    <img src="/img/avatars/man_avatar1.jpg" alt="avatar" class="avatar main-avatar-circle">
                </figure>
                <div class="user-title">
                    <h3>Newton Harriss</h3>
                    <small class="status-active">
                        Online
                    </small>
                </div>
                <div class="actions">
                    <ul class="actions-list">
                        <li class="actions-list-item">
                            <a href="#" class="btn btn-change-name">
                                <img src="/img/svg/controls/bx-pencil.svg" alt="Change Username">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <form action="#" class="form-control">
                <input type="text" class="search-input" placeholder="Search chats" autocomplete="off">
            </form>
            <div class="sidebar-body">
                <ul class="list-group">
                    <li class="group-item group-item-active">
                        <figure class="avatar-status-active">
                            <img src="/img/avatars/man_avatar3.jpg" alt="user-avatar" class="avatar avatar-circle">
                        </figure>
                        <div class="user-list-body">
                            <h5 class="user-name">
                                Jack London
                            </h5>
                            <p>What's up, how are you?</p>
                            <small class="message-time">03:41 PM</small>
                        </div>
                        <div class="user-list-actions-active">
                            <div class="new-message-count">
                                1
                            </div>
                        </div>
                    </li>

                    <li class="group-item">
                        <figure class="avatar-status-active">
                            <img src="/img/avatars/man_avatar2.jpg" alt="user-avatar" class="avatar avatar-circle">
                        </figure>
                        <div class="user-list-body">
                            <h5 class="user-name">
                                Michael Jackson
                            </h5>
                            <p>What's up, how are you?</p>
                            <small class="message-time">03:41 PM</small>
                        </div>
                        <div class="user-list-actions">
                            <div class="new-message-count">
                                1
                            </div>
                        </div>
                    </li>
                    <li class="group-item">
                        <figure class="avatar-status-active">
                            <img src="/img/avatars/man_avatar3.jpg" alt="user-avatar" class="avatar avatar-circle">
                        </figure>
                        <div class="user-list-body">
                            <h5 class="user-name">
                                Ilya Varlamov
                            </h5>
                            <p>How are you, dude? Blablablablabla</p>
                            <small class="message-time">03:41 PM</small>
                        </div>
                        <div class="user-list-actions">
                            <div class="new-message-count">
                                1
                            </div>
                        </div>
                    </li>
                    <li class="group-item">
                        <figure class="avatar-status-active">
                            <img src="/img/avatars/man_avatar3.jpg" alt="user-avatar" class="avatar avatar-circle">
                        </figure>
                        <div class="user-list-body">
                            <h5 class="user-name">
                                Ilya Varlamov
                            </h5>
                            <p>How are you, dude? Blablablablabla</p>
                            <small class="message-time">03:41 PM</small>
                        </div>
                        <div class="user-list-actions">
                            <div class="new-message-count">
                                1
                            </div>
                        </div>
                    </li>
                    <li class="group-item">
                        <figure class="avatar-status-active">
                            <img src="/img/avatars/man_avatar3.jpg" alt="user-avatar" class="avatar avatar-circle">
                        </figure>
                        <div class="user-list-body">
                            <h5 class="user-name">
                                Ilya Varlamov
                            </h5>
                            <p>How are you, dude? Blablablablabla</p>
                            <small class="message-time">03:41 PM</small>
                        </div>
                        <div class="user-list-actions">
                            <div class="new-message-count">
                                1
                            </div>
                        </div>
                    </li>
                    <li class="group-item">
                        <figure class="avatar-status-active">
                            <img src="/img/avatars/women_avatar5.jpg" alt="user-avatar" class="avatar avatar-circle">
                        </figure>
                        <div class="user-list-body">
                            <h5 class="user-name">
                                Nancy Drew
                            </h5>
                            <p>BlaBlablabla</p>
                            <small class="message-time">03:41 PM</small>
                        </div>
                        <div class="user-list-actions">
                            <div class="new-message-count">
                                1
                            </div>
                        </div>
                    </li>
                    <li class="group-item">
                        <figure class="avatar-status-active">
                            <img src="/img/avatars/women_avatar5.jpg" alt="user-avatar" class="avatar avatar-circle">
                        </figure>
                        <div class="user-list-body">
                            <h5 class="user-name">
                                Nancy Drew
                            </h5>
                            <p>BlaBlablabla</p>
                            <small class="message-time">03:41 PM</small>
                        </div>
                        <div class="user-list-actions">
                            <div class="new-message-count">
                                1
                            </div>
                        </div>
                    </li>
                    <li class="group-item">
                        <figure class="avatar-status-active">
                            <img src="/img/avatars/women_avatar5.jpg" alt="user-avatar" class="avatar avatar-circle">
                        </figure>
                        <div class="user-list-body">
                            <h5 class="user-name">
                                Nancy Drew
                            </h5>
                            <p>BlaBlablabla</p>
                            <small class="message-time">03:41 PM</small>
                        </div>
                        <div class="user-list-actions">
                            <div class="new-message-count">
                                1
                            </div>
                        </div>
                    </li>

                </ul>
            </div>


            <div class="sidebar-footer">
                <a href="#" class="btn btn-logout">
                    <img src="/img/svg/controls/bx-logout.svg" alt="Log Out">
                </a>
            </div>
        </div>
        <!-- ./ sidebar-group -->
        <!-- chat -->
        <div class="chat">
            <div class="chat-header">
                <a href="#" class="search-message">
                    <img src="/img/svg/controls/bx-search.svg" alt="Search Message" class="search-ico">
                </a>
                <div class="reciever-title">
                    <h5 class="reciever-name">Marcus Person</h5>
                    <small class="reciver-status-active">
                        Online
                    </small>
                </div>
                <div class="reciever-actions">
                    <div class="btn btn-show-more">
                        <img src="/img/svg/controls/bx-more.svg" alt="Show More">
                    </div>
                    <figure class="reciever-avatar">
                        <img src="/img/avatars/man_avatar4.jpg" alt="Reciever Avatar" class="reciever-avatar-circle">
                    </figure>
                </div>
            </div>
            <div class="chat-body">
                <div class="messages">

                    <div class="message-item outgoing-message">
                        <div class="message">
                            <div class="dialog-user-title">
                                <div class="time">01:20 PM <i class="double-checke-message"></i></div>
                                <h5>Newton Harriss</h5>
                            </div>
                            <div class="message-content">
                                Hello!
                            </div>
                        </div>
                        <figure class="avatar">
                            <img src="/img/avatars/man_avatar1.jpg" class="avatar avatar-circle" alt="dialog-avatar">
                        </figure>
                    </div>

                    <div class="message-item outgoing-message">
                        <div class="message">
                            <div class="dialog-user-title">
                                <div class="time">01:20 PM <i class="double-checke-message"></i></div>
                                <h5>Newton Harriss</h5>
                            </div>
                            <div class="message-content">
                                Hello, how are you?
                            </div>
                        </div>
                        <figure class="avatar">
                            <img src="/img/avatars/man_avatar1.jpg" class="avatar avatar-circle" alt="dialog-avatar">
                        </figure>
                    </div>

                    <div class="message-item">
                        <figure class="avatar">
                            <img src="/img/avatars/man_avatar4.jpg" class="avatar avatar-circle" alt="dialog-avatar">
                        </figure>
                        <div class="message">
                            <div class="dialog-user-title">
                                <div class="time">01:20 PM <i class="double-checke-message"></i></div>
                                <h5>Mirabelle Tow</h5>
                            </div>
                            <div class="message-content">
                                I'm fine, thx. What about you?
                            </div>
                        </div>
                    </div>



                    <div class="message-item outgoing-message">
                        <div class="message">
                            <div class="dialog-user-title">
                                <div class="time">01:20 PM <i class="double-checke-message"></i></div>
                                <h5>Newton Harriss</h5>
                            </div>
                            <div class="message-content">
                                I'm good too
                            </div>
                        </div>
                        <figure class="avatar">
                            <img src="/img/avatars/man_avatar1.jpg" class="avatar avatar-circle" alt="dialog-avatar">
                        </figure>
                    </div>

                    <div class="message-item">
                        <figure class="avatar">
                            <img src="/img/avatars/man_avatar4.jpg" class="avatar avatar-circle" alt="dialog-avatar">
                        </figure>
                        <div class="message">
                            <div class="dialog-user-title">
                                <div class="time">01:20 PM <i class="double-checke-message"></i></div>
                                <h5>Mirabelle Tow</h5>
                            </div>
                            <div class="message-content">
                                Here you can find activities to practise your reading skills. Reading will help you to improve your understanding of the language and build your vocabulary.
                            </div>
                        </div>
                    </div>



                    <div class="message-item outgoing-message">
                        <div class="message">
                            <div class="dialog-user-title">
                                <div class="time">01:20 PM <i class="double-checke-message"></i></div>
                                <h5>Newton Harriss</h5>
                            </div>
                            <div class="message-content">
                                The self-study lessons in this section are written and organised according to the levels of the Common European Framework of Reference for languages (CEFR). There are different types of texts and interactive exercises that practise the reading skills you need to do well in your studies, to get ahead at work and to communicate in English in your free time.<br>
                                <br>Take our free online English test to find out which level to choose. Select your level, from beginner (CEFR level A1) to advanced (CEFR level C1), and improve your reading skills at your own speed, whenever it's convenient for you.
                            </div>
                        </div>
                        <figure class="avatar">
                            <img src="/img/avatars/man_avatar1.jpg" class="avatar avatar-circle" alt="dialog-avatar">
                        </figure>
                    </div>



                </div>

                <!-- ./ chat -->
            </div>
            <div class="chat-footer">
                <form action="" class="send-message">
                    <input type="textarea" class="message-input" placeholder="Just type something...">
                    <button type="submit" class="btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-send">
                            <line x1="22" y1="2" x2="11" y2="13"></line>
                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                        </svg>
                    </button>
                </form>
            </div>
            <!-- ./ content -->



@*@using SignalRv2.Abstract;
    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="display-4">Welcome, @User.Identity.FullName()</h1>
            <form method="post" asp-controller="Auth" asp-action="Logout">
                <input type="submit" value="Log Out" />
            </form>

            <textarea name="message" id="message"></textarea>
            <textarea name="username" id="username"></textarea>
            <input type="submit" id="sendBtn" value="Send" />

            <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
            <script src="~/js/signalr.js"></script>
        }
        else
        {
            <a asp-controller="Auth" asp-action="Login">Log In</a>
            <a asp-controller="Auth" asp-action="Register">Register</a>
        }
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@



